@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    height: 100%;
    overflow: hidden;
  }
  

/* FONTS */

  .gaegu-regular {
    font-family: "Gaegu", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  
/* BACKGROUND CLASSES */

.bg-image {
    background-image: url('/assets/paper-bg.jpg');
    background-size: cover;
    position: fixed;
}

.bg-brown-texture {
    background-image: url('/assets/brown-texture.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-front-end {
    background-image: url('/assets/front-end.jpg');
    background-size: cover;
    
}

.bg-green-texture {
    background-image: url('/assets/green-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-tan-texture {
    background-image: url('/assets/paper-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-back-end {
    background-image: url('/assets/backend.jpg');
    background-size: 310px;
}

.bg-white-texture {
    background-image: url('/assets/white-texture.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-tools {
    background-image: url('/assets/tools.jpg');
    background-size: cover;
}

/* CONFIGURATION */

.arch-shadow::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3); /* Customize shadow as needed */
    border-radius: inherit; /* Inherit the border-radius from the parent */
    pointer-events: none; /* Allows interaction with content inside .bg-image */
    z-index: 10; /* Ensure shadow overlays content */
}


::-webkit-scrollbar {
    display: none;
}

.nav-link {
    color: black;
    text-decoration: none;
}

.nav-link:hover {
    color: white;
    text-decoration: none;
}

.nav-link.active > div {
    height: 100%;
    transition: .3s ease-in-out;
}

.nav-link.active > div > p {
    padding-left: 28px;
    transition: .3s ease-in-out;
    color: white;
}

/* CONTENT ADJUSTMENTS */

.Outlet {
    height: 75vh;
}

/* CUSTOM CLASSES */

.customShadow {
    filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.18));
}

.textHighlight {
    text-shadow:
    -1px 0px 1px rgba(0, 0, 0, 0.272),
    1px 0px 2px rgba(255, 232, 189, 0.519);
    
}


/* PORTFOLIO STYLES */

.envelope {
    cursor: pointer;
}

.inner-card {
    transition: transform 0.3s ease-in-out;
    
}

/* Hover effect: Move inner card up 10px and rotate */
.envelope:hover .inner-card {
    transform: 
        translateY(-20px) 
        rotate(3.5deg) 
        translateX(-5px);
}

.hover-disabled {
    pointer-events: none;
}

.hover-disabled .inner-card {
    transform: none;
    transition: none;
}

.lower-z {
    z-index: 1;
}

/* XS/SMALL SCREENS CARD ANIMATION */
.envelope.active .inner-card {
    animation: click-animation-xs-sm 1.3s forwards;
}
@keyframes click-animation-xs-sm {
    0% {
        position: fixed;
        top: var(--start-top);
        left: var(--start-left);
        width: var(--start-width);
        height: var(--start-height);
        z-index: 20;
    }
    50% {
        transform: translateY(-85%) translateX(-5px) rotate(-3.5deg);
        width: var(--start-width);
        height: var(--start-height);
        top: var(--start-top);
        left: var(--start-left);
        z-index: 20;
    }
    51% {
        z-index: 70;
        width: var(--start-width);
        height: var(--start-height);
        top: var(--start-top);
        left: var(--start-left);
    }
    100% {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(0deg);
        width: 100vw;
        height: 100vh;
        z-index: 70;
        box-shadow: 0px 8px 15px 8px rgba(0, 0, 0, 0.25);
    }
    
}

/* MD-XL SCREENS CARD ANIMATION */
@media screen and (min-width: 768px) {
    .envelope.active .inner-card {
        animation: click-animation-md-xl 1.3s forwards;
    }
}
@keyframes click-animation-md-xl {
    0% {
        position: fixed;
        top: var(--start-top);
        left: var(--start-left);
        width: var(--start-width);
        height: var(--start-height);
        z-index: 20;
    }
    50% {
        transform: translateY(-85%) translateX(-5px) rotate(-3.5deg);
        width: var(--start-width);
        height: var(--start-height);
        top: var(--start-top);
        left: var(--start-left);
        z-index: 20;
    }
    51% {
        z-index: 70;
        width: var(--start-width);
        height: var(--start-height);
        top: var(--start-top);
        left: var(--start-left);
    }
    100% {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(0deg);
        width: 90vw;
        height: 90vh;
        z-index: 70;
        box-shadow: 0px 8px 15px 8px rgba(0, 0, 0, 0.25);
    }
    
}



.blur-active {
    backdrop-filter: blur(3px);
    transition: backdrop-filter 1s ease; 
    z-index: 60;
}

.refocus-active {
    backdrop-filter: blur(0px);
    transition: backdrop-filter 1s ease; 
    z-index: 0;
    transition: z-index 1s ease;
}


/* INNER CARD CLOSING ANIMATION */

@keyframes close-animation {
    0% {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(0deg);
        width: 80vw;
        height: 80vh;
        z-index: 70;
        box-shadow: 0px 8px 15px 8px rgba(0, 0, 0, 0.25);
    }
    50% {
        z-index: 70;
        width: var(--start-width);
        height: var(--start-height);
        top: var(--start-top);
        left: var(--start-left);
    }
    51% {
        transform: translateY(-85%) translateX(-5px) rotate(-3.5deg);
        width: var(--start-width);
        height: var(--start-height);
        top: var(--start-top);
        left: var(--start-left);
        z-index: 20;
    }
    100% {
        position: fixed;
        top: var(--start-top);
        left: var(--start-left);
        width: var(--start-width);
        height: var(--start-height);
        z-index: 20;
    }
}

.reveal-content {
    opacity: 0;
    pointer-events: none;
}

.envelope.active .inner-card .reveal-content {
    animation: reveal-animation 0.5s ease forwards;
    pointer-events: auto;
}

@keyframes reveal-animation {
    0% {
        opacity: 30%;
    }
    100% {
        opacity: 100%;
    }
}

.envelope.active .inner-card.closing {
    animation: close-animation 1s ease forwards;
    position: fixed;
}

.envelope.active .back {
    animation: button-appear-animation 0.3s ease forwards;
}

@keyframes button-appear-animation {
    0% {
        opacity: 30%;
        transform: translateY(-5px) scale(1.1);
    }

    100% {
        opacity: 100%;
        transform: translateY(0) scale(1);
    }
}

.envelope.active .back.closing {
    animation: button-disappear-animation 1s ease forwards;
}

@keyframes button-disappear-animation {
    0%{
        opacity: 100%;
        transform: translateY(0) scale(1);
    }

    100% {
        opacity: 30%;
        transform: translateY(-5px) scale(1.1);
    }
}

/* HOME PAGE STYLING */

/* Common style for all spans */
.highlight {
    display: inline-block;
    position: relative;
    color: black; /* Text color */
    background: none; /* No highlight initially */
    padding-left: 5px;
    padding-right: 5px;
}

/* Horizontal sweep animation */
@keyframes horizontal-sweep {
    from {
        background-size: 0% 100%; /* Start with no highlight */
    }
    to {
        background-size: 100% 100%; /* Expand highlight across the text */
    }
}

.highlight-active {
    background-repeat: no-repeat;
    background-position: left;
    background-size: 0% 100%; /* Start with no highlight */
    animation: horizontal-sweep 0.6s ease forwards; /* Apply the sweep animation */
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 4px; /* Optional rounded edges for the highlight */
}

/* Specific highlight colors */
.front-end-highlight {
    background-image: linear-gradient(to right, #a9bd6d75, #a9bd6d75);
}

.back-end-highlight {
    background-image: linear-gradient(to right, #fbfaf784, #fbfaf784);
}

.tools-highlight {
    background-image: linear-gradient(to right, #ba985174, #ba985174);
}

/* animation for resume page */

:hover.resume-hover {
    transition: all ease .3s;
    transform: translateY(-10px);
    scale: 1.03;
    cursor: pointer;
}

.resume-hover {
    transition: all ease .3s;
}

@keyframes resume-animation {
    0% { 
        transform: scale(1); 
        z-index: 9999;
        position: relative;
    }
    100% { 
        transform: scale(1.5); 
        transform: translateX(-10rem) translateY() ;
        z-index: 9999;
    }
}

.animate-resume {
    animation: resume-animation 1s ease;
}
